.your-account{
    .close{
        //border:2px solid red;
        width:10%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        img{
         width:10%;
        }
    }
}