.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.508);
  .your-account {
    background-color: #fff;
    min-width: 50%;
    padding: 2%;
    .close {
       display: flex;
      justify-content: space-around;
      align-items: center;
      border: 1px black solid;
      border-radius: 50%;
      padding: 1% 0;
      width: 5%;
      cursor: pointer;
      h2{
        font-size: 1rem;
      }
      &:hover{
        transform: scale(1.15);
        box-shadow: 3px 3px 5px gray;
      }
    }


    .heading{
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        margin-bottom: 2%;
      }
      .accounts{
        width: 70%;
        display: flex;
        justify-content: space-between;
        h3{
          cursor: pointer;
          width: 47%;
          padding-bottom: 2%;
        }
      }
    }
    form{
      display: flex;
      flex-direction: column;
      width: 70%;
      gap: 1rem;
      margin-top: 2%;
      input{
        font-size: 1rem;
        padding: 1%;
      }
      button {
        background-color: #0084ff;
        padding: 2%;
        min-width: 40%;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover{
        background-color: #0c60af;
    
        }
      }
    }
  }
}


.underline{
  border-bottom: 3px solid #000;
}
