.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.508);
  .your-account {
    background-color: #fff;
    min-width: 50%;
    .close {
      //border:2px solid red;
      //   width: 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .IX {
        cursor: pointer;
      }
    }
  }
}
