.topRooms{
    padding: 2%;
    h1{
        background-color: #ffc400;
        padding: 1%;
        text-align: center;
        color: white;
        border-radius: 5px;

    }
    .topContainer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2% 0;
        .card{
            width: 24%;
            margin-bottom: 3%;
            // border: 1px white solid;
            background-color: #fff;
            padding: 0.5%;
            min-height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;
            box-shadow:5px 5px 5px black ;
           .a-img{
               display: flex;
               height: 100%;
               img{
                   width: 100%;
                   height: 100%;
                   border-radius: 5px;
               }
           }
            h3{
                padding: 2% 0;
            }
          .link-btn{
              display: flex;
              width: 80%;
              justify-content: center;
              text-decoration: none;
              margin-top: 5%;
            button {
                background-color: #0084ff;
                padding: 2%;
                min-width: 100%;
                border-radius: 5px;
                color: white;
                font-size: 1rem;
                font-weight: 600;
                border: none;
                cursor: pointer;
                outline: none;
                &:hover{
                background-color: #0c60af;
            
                }
              }
          }
         
        }
    }
}